<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AvtoParkingKAI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <AvtoParkingKAI.Properties.Settings>
            <setting name="CenaZaChas" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="BesplatnoMinutM" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="VyezdMinutN" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ParolHash" serializeAs="String">
                <value />
            </setting>
            <setting name="Yazyk" serializeAs="String">
                <value>ru</value>
            </setting>
            <setting name="RezhimTerminala" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EdinitsaVremeniMN" serializeAs="String">
                <value>0</value>
            </setting>
        </AvtoParkingKAI.Properties.Settings>
    </userSettings>
</configuration>
